html {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

body::before {
    display: block;
    content: '';
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    margin-top: 10px;
    font-family: 'Oleo Script', cursive;
    font-size: 1.7rem;
    font-weight: 900;
    text-decoration: none;
    color: black;

}

.logo-works {
    margin-top: 10px;
    font-family: 'Oleo Script', cursive;
    font-size: 1.7rem;
    font-weight: 900;
    text-decoration: none;
    color: black;

}

.nav-item {
    font-weight: 500;
}

.nav-item .nav-link:hover {
    color: #0d6efd;
}

.nav-link {
    color: black;
}

.title {
    position: absolute;
    top: 10rem;
    right: 20rem;
    font-size: 2.5em;
    color: white;
    text-shadow: 1px 3px 4px rgba(0,0,0,0.6);
}

.caption {
    position: absolute;
    top: 14rem;
    right: 20rem;
    width: 20%;
    color: white;
    text-align: end;
    text-shadow: 1px 3px 4px rgba(0,0,0,0.6);
}


.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}


.image {
    display: block;
    width: 50%;
    height: auto;
    margin: 32px auto;
}

.text-title {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    padding: 24px 0;
    margin: 0 10px;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.grid-img {
    justify-self: end;
    padding-right: 7rem;
    width: auto;
    height: 85%;
}

.grid-title {
    text-align: center;
}

.box {
    max-width: 2000px;
    margin: 0 auto;
    padding-right: 10rem;
}

.box:not(:nth-of-type(odd)) {
    background-color: #fff;
}

.box-text {
    max-width: 800px;
    text-align: start;
    padding: 10px 0;
}

.flex-pay {
    display: flex;
    column-count: 3;
}

.btn-apply {
    transition: all .2s ease-in-out;
}

.btn-apply:hover {
    transform: scale(1.1);
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

#card1, #card2, #card3, #card4 {
    height: auto;
    width: 70px;
    margin-bottom: 3.5em;
    margin-top: 20px;
    margin-right: 150px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 15px;
    padding: 5px;
    text-align: start;
}

.card-text {
    padding: 10px 10px;
    margin: 5px 15px;
    text-align: start;
    width: 250px;
}

.card-about {
    width: 280px;
    height: 350px;
    margin: 15px auto;
    border-radius: 20px;
}

.plan-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    margin: 0 70px;
    padding: 0 30px;
    gap: 50px;
}

#plan-card1, #plan-card2, #plan-card3 {
    width: 70px;
    padding-top: 1em;
    margin-bottom: 1.5em;
}

.plan-title {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 15px;
    padding: 5px;
}

.plan-text {
    padding: 10px 10px;
    text-align: center;
}


#img-container1, #img-container2, #img-container3, #img-container4 {
    align-items: center;
    transition: all ease-out 300ms;
}

#img-container1:hover {
    top: 0;
    transform: translateY(-20px);
}

#img-container2:hover {
    top: 0;
    transform: translateY(-20px);
}

#img-container3:hover {
    top: 0;
    transform: translateY(-20px);
}

#img-container4:hover {
    top: 0;
    transform: translateY(-20px);
}

.container-contact .container-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container-contact .contact {
    padding: 20px;
}

.container-contact .form-msg {
    width: 100%;
    max-width: 550px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container-sched {
    max-width: 50%;
    margin: 0 auto;
    padding: 32px 10px;
}

.sched-item1, .sched-item2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
    gap: 5px;
}

.btn-sched {
    width: 150px;
    height: auto;
    margin-left: 70px;
    border-radius: 10px;
}

li a {
    text-decoration: none;
    color: black;
}

.btn-container {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.container-subject {
    display: grid;
    grid-template-columns: 1fr 30% 1fr 30%; 
    gap: 1px;
    padding: 1rem 5rem;
    text-align: start;
    margin-bottom: 1rem;
    border-radius: 5px;

}

.footer-container {
    width: 100%;
    max-width: 1440px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.works-btn {
    /* width: 200px; */
    min-width: 200px;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
}

.works-btn:hover {
    -webkit-animation: shake-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes shake-top {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }

  @keyframes shake-top {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  

.works-text {
    display:inline-block;
    max-width: 60rem;
}

#works {
    max-width: 100%;
    height: auto;
}

.list-item{
    text-decoration: none;
    color: black;
}

.list-item:hover {
    color: gray;
}

.banner {
    width: 100%;
    height: 25vh;

}

.banner3 {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.banner4 {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bi {
    float: left;
    width: 30px;
}

.bg-info .phone, .add {
    height: 50px;
}

.bg-info a {
    text-decoration: none;
    color: black;
}

.btn-form {
    min-width: 150px;
    padding: 10px;
}

.btn-tuition {
    min-width: 120px;
    padding: 10px;
}
#accordion-works {
    display: none;
}

.footer-faq {
    margin-top: 10rem;
  }



 .container-tuition { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 990px;
    margin: 50px auto;
    justify-items: center;
    align-items:start;
    gap: 40px;
}

.box-tuition {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 340px;
    padding: 64px 40px;
    border-radius: 20px;    align-items: center;
    text-align: center;
    box-shadow: 0 0 22px -5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 22px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 22px -5px rgba(0,0,0,0.5);
}

.box-item {
    margin: 20px auto;
}

.box-tuition .text-tuition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container h3, h5 {
    font-weight: 600;
    margin-top: 20px;
}

.carousel {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
}

.carousel-title {
    margin: 50px auto;
    text-align: center;
    font-weight: 600;
}

.carousel-items {
    width: 450px;
    height: 250px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid black;
}

.slide-name {
    color: #0d6efd;
    font-weight: 600;
    text-align: start;
    width: 55%;
    margin: auto;
}

.slide-course {
    width: 55%;
    text-align: start;
    margin: auto;
}

.slide-comment {
    width: 55%;
    text-align: start;
    margin: 50px auto;
}

.faq-text {
    font-weight: normal;
}

.footer-container2 {
    display: none;
}

@media screen and (max-width:1440px) {
    .title {
        position: absolute;
        top: 9rem;
        right: 5rem;
        font-size: 2.5em;
        color: white;
        text-shadow: 1px 3px 4px rgba(0,0,0,0.6);
    }
    
    .caption {
        position: absolute;
        top: 13rem;
        right: 5rem;
        width: 30%;
        color: white;
        text-align: end;
        text-shadow: 1px 3px 4px rgba(0,0,0,0.6);
    }

    .footer-container {
        width: 80%;
        display: block;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:1300px) {
    .btn-sched {
        /* width: 100%; */
        min-width: 120px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .container-sched {
        max-width: 70%;
    }

    .container-tuition { 
        grid-template-columns: 1fr 1fr 1fr;
        margin: 50px auto;
    }

    .plan-cards {
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 0 5px;
        gap: 5px;
    }
}

@media screen and (max-width:992px) {
    .container-tuition {
        grid-template-columns: 1fr;
    }

    #list-container {
        display: none;
    }

    #works {
        text-align: center;
        padding: 50px;
        padding-bottom: 30px;
    }

    #understand, #student, #graduate {
        display: none;
    }

    #accordion-works {
        display: block;
    }

    .footer-container {
        display: none;
    }

    .footer-container2 {
        display: block;
        margin: 5rem auto;
        align-items: center;
    }

    .grid-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    
    .grid-img {
        justify-self: center;
        padding: 20px 0;
        width: auto;
        height: 70%;
    }
    
    .box {
        margin-bottom: 15px;
    }
    
    .box-text {
        max-width: 350px;
        text-align: center;
        justify-self: start;
        padding: 20px 15px;
    }

    .contact .list {
        margin-left: 30px;
    }

    .container-subject {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1px;
        padding: 1rem 5rem;
        text-align: start;
        border-radius: 5px;
    }

    .carousel {
        width: 750px;
    }

}

@media screen and (max-width:768px) {
    .grid-img {
        justify-self: center;
        padding: 20px 0;
        width: auto;
        height: 70%;
    }


    .box {
        margin: 0 auto;
        padding-right: 5rem;
    }


    .card-about {
        margin: 20px auto;
    }
    
    .sched-item1, .sched-item2 {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .btn-sched {
        margin: 0 auto;
    }

    .carousel {
        width: 600px;
    }

    .carousel-items {
        width: 370px;
        height: 230px;
    }
    
    .slide-name {
        width: 75%;
    }
    
    .slide-course {
        width: 75%;
    }
    
    .slide-comment {
        width: 75%;
        margin: 25px auto;
    }
}

@media screen and (max-width:638px) {
    .title {
        position: absolute;
        top: 9rem;
        right: 2rem;
        font-size: 1.6em;
        color: white;
        text-shadow: 1px 3px 4px rgba(0,0,0,0.6);
    }
    
    .caption {
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 70%;
        font-size: .9em;
        color: white;
        text-align: end;
        text-shadow: 1px 3px 4px rgba(0,0,0,0.6);
    }

    .box {
        text-align: center;
        padding: 0;
    }

    .works-btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
        height: auto;
        /* width: 60%; */
    }

    .btn-container a {
        text-decoration: none;
    }

    .container-subject {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 1px;
        padding: 1rem 3rem;
        text-align: start;
        border-radius: 5px;
        width: 100%;

    }

    #works {
        text-align: center;
        padding-top: 20px;
        background-color: white;
    }
    
    #works a {
        text-decoration: none;
    }

    /* .works-text, #works-title { 
        display: none;
    }*/

    #list-container {
        display: none;
    }

    .grid-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }
    
    .grid-img {
        justify-self: center;
        padding: 20px 0;
        width: auto;
        height: 100%;
    }
    
    .box {
        padding: 10px;
    }
    
    .box-text {
        max-width: 500px;
        text-align: center;
        justify-self: center;
        padding: 20px 0;
    }

    .contact {
        display: none;
    }

    .container-contact .form-msg {
        width: 400px;
    } 

    .container-contact .form-control {
        width: 100%;
        margin: 0 auto;
    }

    .btn-form {
        margin: 0 auto;
    }

    .container-tuition {
        display: grid;
        grid-template-columns: 1fr;
        margin: 40px 20px;
    }

    .plan-cards {
        flex-direction: column;
        align-items: center;
    }

    #plan-card1, #plan-card2, #plan-card3 {
        width: 50px;
    }

    .plan-title {
        font-size: 18px;
    }

    .plan-text {
        font-size: 14px;
    }

    .carousel {
        width: 20rem;
    }

    .carousel-items {
        width: 15rem;
        height: 15rem;
    }
    
    .slide-name {
        width: 75%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 14px
    }
    
    .slide-course {
        width: 75%;;
        margin: -15px 20px;
        font-size: 14px;
    }
    
    .slide-comment {
        width: 90%;
        height: 100px;
        font-size: 14px;
        margin-bottom: 35px;
        margin-left: 15px;
        margin-right: 10px;
    }
}
